p{
 background-color:rgb(255,255,255);
            color:rgb(  0,  0,  0);

 margin:2vw 4vw;

 text-align: left;

 font-family:Verdana, Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, h6{
 text-align: center;
}