body{
 background-color:rgb(256,56,96 );
 font-size: 28px ;
}

div{
background-color: rgb( 255, 255, 255 ) ;
}
p, li, th, td{
 background-color:rgb(255,255,255);
            color:rgb(  0,  0,  0);

  margin: 0em 0em ;

   padding-left:0vw;
  padding-right:0vw;
    padding-top:2px;
 padding-bottom:2px;

 text-align: left;
 
 font-family:Verdana, Helvetica, Arial, Sans-Serif;
   font-size: 28px;
}

h1, h2, h3, h4, h5, h6{
 text-align: center ;
}

h1 { font-size: 4.00em ; }
h2 { font-size: 3.50em ; }
h3 { font-size: 3.00em ; }
h4 { font-size: 2.50em ; }
h5 { font-size: 2.00em ; }
h6 { font-size: 1.50em ; }

p{
 background-color:rgb(255,255, 255);
}

li{
 margin:5px 0px;

    border-width: 2px 0px;
    border-style: solid ;
    border-color: black ;
 border-collapse: collapse;

 padding: 2px 0px;
}




table, th, td{
 background-color:rgb(255,200,200);
 
 border:1px solid black;
 border-collapse:collapse;
}

table{
  margin: 0em 0em ;
 padding-left: 12vw;
  padding-right:12vw;
    padding-top:0px;
 padding-bottom:0px;
}
th, td{
 background-color:rgb(255,255,255);
            color:rgb(  0,  0,  0);

 text-align: left;
 
 font-family:Verdana, Helvetica, Arial, Sans-Serif;
   font-size: 12px ;
}

.container{
 background-color:purple;
 display: flex ;
 colum-gap: 10px ;
}

.box1{
 background-color:red;
}

.box2{
 background-color:blue;
}